// Colors
$c_background: #693668;
$c_red: #ED254E;
$c_yellow: #F9DC5C;
$c_gray: #9B9B9B;
$c_white: #FFFFFA;
$c_black: #252323;
$c_btn_yellow: #F6D86E;


// Font Families
$montserrat: 'Montserrat';
$ptserif: 'PT Serif Pro';


// Flexgrid vars
$fg-column: 24;
$fg-gutter: 0;


// Paddings
$col-pad: 50px;
$col-pad-small: 0;

$section-pad: 75px;
$section-pad-tablet: 30px;
$section-pad-mobile: 20px;


// Col widths
$col-width: 50%;
$col-width-small: 45%;


// Breakpoints
$small-desktop: 1120px;
$tablet: 1024px;
$mobile: 767px;
